<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="local" value="localHost"/>
    <add key="tipo" value="SQLSERVER2012"/>
    <add key="base" value="GD1C2016"/>
    <add key="user" value="gd"/>
    <add key="password" value="gd2016"/>
    <add key="fecha" value="2015-10-30 00:00:00.00"/>
  </appSettings>
</configuration>
